<header>
  <div class="nav-bar">
    <div class="container">
      <div class="logo">
        <i class="fas fa-car-side"></i>
      </div>
      <div class="menu">
        <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Carros</a></li>
        <li><a href="#">Arrendadores</a></li>
        <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="banner" style="background-image:url('https://images.unsplash.com/photo-1549317661-bd32c8ce0db2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')">
  <h2>Alquiler de autos en Lima</h2>
  <a href="#" class="btn">Búsqueda flexible</a>
</div>
<section class="cards">
<div class="container">
  <article class="card-car">
    <div class="info-car">
    <p>s/18/día</p>
    <p>Económico</p>
    <p>2 adultos, 2 maletas</p>
    <a href="#" class="btn">Ver oferta</a>
    </div>
    <div class="img-car">
    <img src="https://www.pngall.com/wp-content/uploads/2018/04/Sedan-Transparent.png" alt="">
    </div>
  </article>
  <article class="card-car">
    <div class="info-car">
    <p>s/18/día</p>
    <p>Económico</p>
    <p>2 adultos, 2 maletas</p>
    <a href="#" class="btn">Ver oferta</a>
    </div>
    <div class="img-car">
    <img src="https://www.pngall.com/wp-content/uploads/2018/04/Sedan-Transparent.png" alt="">
    </div>
  </article>
  <article class="card-car">
    <div class="info-car">
    <p>s/18/día</p>
    <p>Económico</p>
    <p>2 adultos, 2 maletas</p>
    <a href="#" class="btn">Ver oferta</a>
    </div>
    <div class="img-car">
    <img src="https://www.pngall.com/wp-content/uploads/2018/04/Sedan-Transparent.png" alt="">
    </div>
  </article>
  <article class="card-car">
    <div class="info-car">
    <p>s/18/día</p>
    <p>Económico</p>
    <p>2 adultos, 2 maletas</p>
    <a href="#" class="btn">Ver oferta</a>
    </div>
    <div class="img-car">
    <img src="https://www.pngall.com/wp-content/uploads/2018/04/Sedan-Transparent.png" alt="">
    </div>
  </article>
  <article class="card-car">
    <div class="info-car">
    <p>s/18/día</p>
    <p>Económico</p>
    <p>2 adultos, 2 maletas</p>
    <a href="#" class="btn">Ver oferta</a>
    </div>
    <div class="img-car">
    <img src="https://www.pngall.com/wp-content/uploads/2018/04/Sedan-Transparent.png" alt="">
    </div>
  </article>
  <article class="card-car">
    <div class="info-car">
    <p>s/18/día</p>
    <p>Económico</p>
    <p>2 adultos, 2 maletas</p>
    <a href="#" class="btn">Ver oferta</a>
    </div>
    <div class="img-car">
    <img src="https://www.pngall.com/wp-content/uploads/2018/04/Sedan-Transparent.png" alt="">
    </div>
  </article>
</div>
</section>
