.btn {
  background-color: rgb(226, 118, 118);
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all .3s ease;
  color: #fff;
  border: 1px solid transparent;
}
.btn:hover {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  box-shadow: 10px 5px 5px gray;
}
.group-btn {
  margin-left: 210px;
}
.btn-1:hover {
  box-shadow: 10px 5px 5px gray;
}
