.card-car {
  box-shadow: 0 0px 10px -3px  rgba(0,0,0,.3);
  margin: 10px;
  background: #fff;
  padding: 10px 20px;
  text-align: center;
  transition: all .3s ease;
  border-radius: 5px;
}
.card-car:hover {
  transform: scale(1.02);
}
.card-car .tipo-car {
  font-weight: 100;
}
.card-car .model-car {
  font-size: 30px;
  font-weight: bold;
}
.card-car .line {
  height: 1px;
  width: 100%;
  background-color: #e27676;
  margin: 0 auto 5px auto;
}
.card-car .info-price-car {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-car .info-price {
  font-size: 12px;
}
.card-car .price-car {
  font-size: 28px;
  color: #e27676;
  font-weight: bold;
}
.card-car .btn {
  width: 100%;
}
.img-car {
  width: 100%
}
.img-car img{
  width: 100%;
}
.card-group .card {
  border: 0px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 20px;
}
.card-group .card img:hover {
  box-shadow: 10px 5px 5px gray;
}
.card-img-top-ppal {
  background-position: cover ;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card {
  margin: 40px auto;
  padding: auto 20px;
  border-radius: 10px;
}
.card .card-body:hover {
  box-shadow: 10px 5px 5px gray;
}
.title {
  margin: 20px;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.card-category:hover {
  box-shadow: 10px 5px 5px gray;
}
.card-deck .card {
  border-radius: 10px;
  text-decoration: none;
}
.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}
.notification:hover{
  box-shadow: 10px 5px 5px gray;
}
.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
.card-borde {
  border-radius: 0px 8px 0px 0px;
}
.card-borde-2 {
  border-radius: 0px 0px 8px 0px;
}
