footer {
  background: #000;
  color: #fff;
  padding: 15px 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
footer .social-media i {
  color: #fff;
  font-size: 20px;
  margin: 10px;
  transition: all .3s ease;

  padding: 10px 12px;
  cursor: pointer;
}

.social-media i:hover {
  background: #fff;
  color: #000;
  border-radius: 6px;
}

.copy {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: lighter;
}
