.navbar-lewagon {
  justify-content: space-between;
  background: #e27676;
}
.navbar-lewagon {
  i{
    font-size: 35px;
    color: #fff;
  }
}
.navbar-nav .nav-link{
  cursor: pointer;
  font-weight: bold;
  color: #fff !important;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
