.nav-bar {
  background: rgb(226, 118, 118);
}
.container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 0;
}
.nav-bar i{
  font-size: 45px;
  color: #fff;
}
.menu ul{
  display: flex;

  li {
    list-style: none;
    a{
      text-decoration: none;
      margin-right: 20px;
      color: #fff;
      padding-bottom: 3px;
      border-bottom: 2px solid transparent;
      transition: all .3s ease;
      font-weight: bold;
      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }
}
